/*
* Normalize CSS
*/
body {
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: "Cairo", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	background-color: #eee;
	font-size: 16px;
	line-height: 1.3em;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
a {
	text-decoration: none;
}
strong {
	font-weight: 600;
}
input[type="text"] {
	height: 30px;
	min-width: 200px;
	padding: 0 5px;
	border: 1px solid #dedede;
	font-family: "Cairo", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1em;
	font-size: 16px;
}
input[type="button"],
button {
	height: 30px;
	margin-top: -1px;
	margin-left: -5px;
	cursor: pointer;
	color: #fff;
	border: 1px solid #000;
	outline: none;
	background-color: #000;
	font-family: "Cairo", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1em;
	font-size: 16px;
}
.half {
	float: left;
	width: 50%;
}
.hide {
	display: none !important;
}




.container {
	max-width: 650px;
	margin: 0 auto;
}
.feed {
	min-height: 50px;
}
.feed-filter {
	margin-bottom: 20px;
	text-align: center;
}
.feed-item.feed-filter {
	min-height: auto;
}
.feed-filter-input {
	display: inline-block;
	vertical-align: middle;
	outline: none;
}
.feed-filter-item {
	display: inline-block;
	padding-right: 8px;
	padding-left: 8px;
}

.feed-msg {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.feed-item {
	position: relative;
	min-height: 90px;
	padding: 20px;
	overflow: hidden;
	background-color: #fff;
}
.feed-item:not(:last-child) {
	margin-bottom: 20px;
}
.feed-img {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 5px;
	background: #dedede;
}
.feed-img img {
	max-width: 100%;
}
.feed-body {
	padding-left: 70px;
}
.feed-title {
	margin: 0;
}
.feed-title a {
	transition: color .2s linear;
	color: #000;
}
.feed-title a:hover {
	color: #5aa2e9;
}
.feed-description {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 14px;
}
ul.feed-stats {
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	list-style: none;
	text-transform: capitalize;
	color: #4a4a4a;
}
ul.feed-stats li {
	display: inline-block;
}
ul.feed-stats li:not(:last-child) {
	margin-right: 10px;
}
.feed-pagination {
	overflow: hidden;
}
.feed-pagination input[type="button"] {
	height: auto;
	padding: 20px;
	margin: 20px 0 0 0;
	font-weight: 600;
	transition: background-color .2s linear;
	border: none;
}
.feed-pagination-btn.disabled,
.feed-pagination-btn.disabled:hover {
	cursor: default;
	background-color: #dedede;
}
.feed-pagination-btn:hover {
	background-color: #5aa2e9;
}
.feed-pagination-btn:first-child {
	border-right: 1px solid #eee !important;
}
.feed-pagination-btn:last-child {
	border-left: 1px solid #eee !important;
}
